
<div class="row">
    <div class="col-12 text-center mt-3 mb-1">
        <h1>Employee Table</h1>
    </div>
    <div class="col-10 offset-md-1 mt-3">
        <table class="g-0 table table-dark table-hover table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Email ID</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let employee of employeeList">
                    <td scope="row"> {{employee.id}} </td>
                    <td> {{employee.fullname}} </td>
                    <td> {{employee.email}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
