/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin:0;padding:0;
    box-sizing: border-box;
    background-color: #232c34;
    color: #fff;
}
